#parent {
    margin: 30px 20px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    transform: scale(80%);
}

.frame {
    position: absolute;
    z-index: 1;
}


.item {
    position: relative;
    object-fit: cover;
    z-index: 0;
}

.pin {
    position: absolute;
    z-index: 3;
    top: -680px;
    transform-origin: bottom;
}

.title {
    position: absolute;
    z-index: 2;
    top: 370px;
    text-align: center;
}